.es-surfaceView {
	overflow: hidden;
	font-size: 1em; /* to look more like MediaWiki use: 0.8em */;
	margin-left: -1em;
	margin-right: -1em;
}

.es-surfaceView-textarea {
	position: absolute;
	z-index: -1;
	opacity: 0;
	color: white;
	background-color: white;
	border: none;
	padding: 0;
	margin: 0;
	width: 1px;
}

.es-surfaceView-textarea:focus {
	outline: none;
}

.es-surfaceView-cursor {
	position: absolute;
	background-color: black;
	width: 1px;
	display: none;
}

.es-documentView {
	cursor: text;
	margin-top: 1em;
	overflow: hidden;
	-webkit-user-select: none;
}

.es-contextView {
	position: absolute;
	z-index: 2;
}

.es-contextView-icon {
	position: absolute;
	background-position: top left;
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	display: none;
	cursor: pointer;
}

.es-contextView-position-above .es-contextView-icon {
	background-image: url(images/context-icon-up.png);
	top: -24px;
	left: -15px;
}

.es-contextView-position-below .es-contextView-icon {
	background-image: url(images/context-icon-down.png);
	top: -7px;
	left: -16px;
}

.es-contextView-position-above .es-contextView-icon:hover {
	background-image: url(images/context-icon-up-hover.png);
}

.es-contextView-position-below .es-contextView-icon:hover {
	background-image: url(images/context-icon-down-hover.png);
}

.es-contextView-menu {
	display: none;
	position: absolute;
	border: solid 1px #cccccc;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-o-border-radius: 0.25em;
	border-radius: 0.25em;
	background-color: white;
	-webkit-box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.25);
	box-shadow: 0 0.25em 1em 0 rgba(0,0,0,0.25);
	padding: 0.33em 0;
}

.es-contextView-menuItem {
	padding: 0.33em 1em;
	cursor: pointer;
}

.es-contextView-menuItem:hover {
	background-color: #b3d6f6;
}

.es-contextView-position-above .es-contextView-menu {
	bottom: 7px;
}

.es-contextView-position-below .es-contextView-menu {
	top: 8px;
}

.es-contentView {
	position: relative;
	z-index: 1;
}

.es-headingView,
.es-tableView,
.es-listView,
.es-preView,
.es-paragraphView {
	margin: 1em;
	margin-top: 0;
	position: relative;
	min-height: 1.5em;
}

.es-listItemView > .es-paragraphView {
	margin-left: 0;
	margin-right: 0;
}
.es-listItemView > .es-viewBranchNode-firstChild {
	margin: 0;
}

.es-preView {
	padding: 1em;
	border: 1px dashed #2F6FAB;
}
.es-preView > * {
	font-family: monospace,"Courier New";
}

.es-headingView-level1,
.es-headingView-level2 {
	border-bottom: 1px solid #AAA;
}

.es-headingView-level1 > * {
	font-size: 188%;
	font-weight: normal;
}

.es-headingView-level2 > * {
	font-size: 150%;
	font-weight: normal;
}

.es-headingView-level3 > * {
	font-size: 132%;
	font-weight: bold;
}

.es-headingView-level4 > * {
	font-size: 116%;
	font-weight: bold;
}

.es-headingView-level5 > * {
	font-size: 100%;
	font-weight: bold;
}

.es-headingView-level6 > * {
	font-size: 80%;
	font-weight: bold;
}

.es-listItemView {
	position: relative;
}

.es-listItemView-bullet {
	padding-left: 1.2em;
}

.es-listItemView-number {
	padding-left: 3.2em;
}

.es-listItemView-icon {
	position: absolute;
	right: 100%;
	height: 1.5em;
	line-height: 1.5em;
}

.es-listItemView-bullet .es-listItemView-icon {
	background-image: url(images/bullet.png);
	background-position: left 0.6em;
	background-repeat: no-repeat;
	width: 5px;
	margin-right: -0.5em;
}

.es-listItemView-number .es-listItemView-icon {
	margin-right: -2.8em;
}

.es-listItemView-term {
	font-weight: bold;
}

.es-listItemView-definition .es-contentView {
	margin-left: 2em;
}

.es-listItemView-level0 {
	margin-left: 0;
}

.es-listItemView-level1 {
	margin-left: 2em;
}

.es-listItemView-level2 {
	margin-left: 4em;
}

.es-listItemView-level3 {
	margin-left: 6em;
}

.es-listItemView-level4 {
	margin-left: 8em;
}

.es-listItemView-level5 {
	margin-left: 10em;
}

.es-listItemView-level6 {
	margin-left: 12em;
}

.es-listItemView-level1.es-listItemView-number {
	margin-left: 4em;
}

.es-listItemView-level2.es-listItemView-number {
	margin-left: 8em;
}

.es-listItemView-level3.es-listItemView-number {
	margin-left: 12em;
}

.es-listItemView-level4.es-listItemView-number {
	margin-left: 16em;
}

.es-listItemView-level5.es-listItemView-number {
	margin-left: 18em;
}

.es-listItemView-level6.es-listItemView-number {
	margin-left: 22em;
}

.es-contentView-line,
.es-contentView-ruler {
	line-height: 1.5em;
	cursor: text;
	white-space: nowrap;
	color: #000000;
}

.es-contentView-ruler {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: -1000;
}

.es-contentView-line.empty {
	display: block;
	width: 0px;
}

.es-contentView-whitespace {
	color: #ffffff;
}

.es-contentView-range {
	display: none;
	position: absolute;
	background-color: #b3d6f6;
	cursor: text;
	z-index: -1;
}

.es-contentView-format-object {
	background-color: rgba(0,0,0,0.05);
	border-radius: 0.25em;
	margin: 1px 0 1px 1px;
	padding: 0.25em 0;
	cursor: default;
}

.es-contentView-format-object * {
	cursor: default !important;
}

.es-contentView-format-object a:link,
.es-contentView-format-object a:visited,
.es-contentView-format-object a:active {
	color: #0645AD;
	text-decoration: none;
}

.es-contentView-format-textStyle-italic,
.es-contentView-format-textStyle-emphasize {
	font-style: italic;
}

.es-contentView-format-textStyle-bold,
.es-contentView-format-textStyle-strong {
	font-weight: bold;
}

.es-contentView-format-link {
	color: #0645AD;
	text-decoration: underline;
}

.es-contentView-format-textStyle-big {
	font-size: 1.2em;
}

.es-contentView-format-textStyle-small,
.es-contentView-format-textStyle-subScript,
.es-contentView-format-textStyle-superScript {
	font-size: .8em;
}

.es-contentView-format-textStyle-subScript {
	vertical-align: sub;
}

.es-contentView-format-textStyle-superScript {
	vertical-align: super;
}
