#es-toolbar {
	border: solid 1px #dddddd;
	position: relative;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25e;
	-o-border-radius: 0.25e;
	border-radius: 0.25e;
	background-image: url(images/fade-up.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}
#es-toolbar.float {
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	z-index: 100;
	border-top: none;
}
#es-toolbar-shadow {
	background-image: url(images/toolbar-shadow.png);
	background-position: top left;
	background-repeat: repeat-x;
	position: absolute;
	bottom: -9px;
	height: 9px;
	width: 100%;
	pointer-events: none;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	opacity: 0.125;
}
#es-toolbar.float #es-toolbar-shadow {
	opacity: 0.5;
}
.es-showData #es-visual,
.es-showData #es-previews {
	width: 50%;
	float: left;
	overflow: hidden;
}
.es-showData #es-editor {
	border-right: solid 1px #dddddd;
}
.es-toolbarGroup {
	float: left;
	padding: 0.25em;
}
.es-toolbarGroup-preview {
	float: right;
}
.es-toolbarDivider {
	float: left;
	width: 1px;
	height: 24px;
	margin: 0.5em 0 0.5em 0.5em;
	background-color: #dddddd;
}
.es-toolbarLabel {
	float: left;
	padding: 0.5em 0.75em;
	line-height: 22px;
	font-size: 0.8em;
	color: #555555;
}
.es-toolbarTool {
	float: left;
	padding: 0.25em;
	border: solid 1px transparent;
	border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	-o-border-radius: 0.125em;
	cursor: pointer;
}
.es-toolbarTool:hover,
.es-toolbarTool-down:hover {
	border-color: #eeeeee;
}
.es-toolbarTool:active,
.es-toolbarTool-down {
	border-color: #dddddd;
	background-image: url(images/fade-down.png);
	background-position: top left;
	background-repeat: repeat-x;
}
.es-toolbarTool img {
	display: block;
	width: 22px;
	height: 22px;
}
#es-previews {
	display: none;
}
.es-showData #es-previews {
	display: block;
}
.es-preview {
	margin: 0;
	padding: 1em;
}
.es-code {
	white-space: pre-wrap;
	font-family: "Droid Sans Mono", "Courier New", monospace;
	font-size: 0.8em;
}
.es-render {
	line-height: 1.5em;
	padding-top: 0;
}
.es-history {
	line-height: 1.5em;
	padding: 0;
}

/* General MediaWiki Styles */

.es-render ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-image: url(images/bullet-icon.png);
}
.es-render ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
.es-render li {
	margin-bottom: .1em;
}
