/*!
 * VisualEditor MediaWiki theme dialog customizations.
 *
 * @copyright 2011-2015 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.ToolbarDialog */

.ve-ui-toolbarDialog .oo-ui-dialog-content > .oo-ui-window-body {
	outline: none;
}

/* ve.ui.FindAndReplaceDialog */

.ve-ui-findAndReplaceDialog-focusedIndexLabel {
	padding: 0.7em 0;
	right: 1.4em;
	color: #888;
}
