/*!
 * VisualEditor MediaWiki theme widget customizations.
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.TargetWidget */

.ve-ui-targetWidget {
	border: 1px solid #ccc;
}

.ve-ui-targetWidget > :last-child {
	border-bottom: 0;
}

/* Context item */

.ve-ui-linearContextItem-body {
	min-height: 0.2em;
}
