/*!
 * VisualEditor rebaser demo index page
 *
 * @copyright See AUTHORS.txt
 */

.ve-demo-index {
	margin-top: 5em;

	.oo-ui-actionFieldLayout {
		margin: 0 auto;
		font-size: 1.25em;
		width: 30em;
	}
}
