/*!
 * VisualEditor Surface styles.
 *
 * @copyright 2011-2017 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-surface {
	position: relative;
}

.ve-ui-surface:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.ve-ui-surface-placeholder {
	opacity: 0.33;
	position: absolute;
	left: 0;
	right: 0;
	/* Match .ve-ce-documentNode */
	padding: 0.9375em 1.875em;
}

.ve-ui-surface-placeholder,
.ve-ui-surface .ve-ce-documentNode {
	padding: 0.5em 1.5em;
}

.ve-ui-surface-source .ve-ce-documentNode {
	/* Specify a valid second value to fix size in Chrome/FF */
	font-family: monospace, 'Courier';
}

.ve-ui-surface-source .ve-ce-paragraphNode {
	margin: 0;
}
