/*!
 * VisualEditor UserInterface Table Context styles.
 *
 * @copyright 2011-2017 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-tableLineContext {
	/* Ensure it is placed above the table context */
	z-index: 3;
}

.ve-ui-tableLineContext-indicator {
	position: absolute;
	display: block;
	background-color: #d3e5fd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	margin: 0;
}

.ve-ui-tableLineContext-col .ve-ui-tableLineContext-indicator {
	width: 100%;
	height: 1em;
	/* Context height + 0.2em gap */
	top: -1.2em;
	border-bottom: 0;
}

.ve-ui-tableLineContext-row .ve-ui-tableLineContext-indicator {
	width: 1em;
	/* Context width + 0.2em gap */
	left: -1.2em;
	border-right: 0;
}
