/*!
 * VisualEditor Toolbar styles.
 *
 * @copyright 2011-2017 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-toolbar {
	/* Used by mobile context position hack */
	position: relative;
}

/* PositionedTargetToolbar */

.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
	position: fixed; /* stylelint-disable-line no-unsupported-browser-features */
	top: 0;
	z-index: 2;
	border-top: 0;
}
