/*!
 * VisualEditor addition OOUI icons
 *
 * @copyright See AUTHORS.txt
 */

.oo-ui-icon-speechBubbleNotice {
	/* embed */
	background-image: url( images/speechBubbleNotice-ltr.svg );

	.oo-ui-image-invert& {
		/* embed */
		background-image: url( images/speechBubbleNotice-ltr-invert.svg );
	}

	.oo-ui-image-progressive& {
		/* embed */
		background-image: url( images/speechBubbleNotice-ltr-progressive.svg );
	}
}
