/*!
 * VisualEditor Overlay styles.
 *
 * @copyright 2011-2017 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-overlay {
	font-family: sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.ve-ui-overlay > * {
	z-index: 1;
}

.ve-ui-overlay-global {
	/* Toolbar is z-index 1 */
	z-index: 2;
}

/* Most vendor prefixes are not needed on mobile devices */

.ve-ui-overlay-global-mobile {
	background: #fff;
	height: 100%;
	-webkit-transform: translate3d( 0, -100%, 0 );
	transform: translate3d( 0, -100%, 0 );

	/* stylelint-disable no-unsupported-browser-features */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	/* stylelint-enable no-unsupported-browser-features */
}

.ve-ui-overlay-global-mobile-visible {
	-webkit-transform: none;
	transform: none;
}

.ve-ui-overlay-global-mobile-enabled {
	height: 100%;
	overflow: hidden;
}
