/*!
 * VisualEditor UserInterface MobileContext styles.
 *
 * @copyright See AUTHORS.txt
 */

@import '../../../lib/codex-design-tokens/theme-wikimedia-ui.less';

.ve-ui-mobileContext {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: @background-color-base;
	/* Match toolbar border & shadow */
	border-top: @border-subtle;
	box-shadow: 0 -1px 1px 0 rgba( 0, 0, 0, 0.1 );
	/* Transition out faster, as keyboard may be coming up */
	transition: transform 100ms;
	transform: translateY( 0% );

	&.ve-ui-context-hidden {
		display: block;
		transition: transform 250ms;
		transform: translateY( 100% );
	}

	&-menu {
		position: relative;
	}

	&-close {
		position: absolute;
		right: 0;
		top: 2px;
	}
}
