/*!
 * VisualEditor UserInterface Table Context styles.
 *
 * @copyright 2011-2014 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-tableContext {
	position: absolute;
}

.ve-ui-tableContext-menu {
	font-size: 0.8em;
}

.ve-ui-tableContext-indicator {
	display: block;
	background-color: #d3e5fd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.ve-ui-tableContext-colContext .ve-ui-tableContext-indicator {
	width: 100%;
	height: 0.8em;
	/* Context height + 0.2 gap */
	margin-top: -1em;
	border-bottom: 0;
}

.ve-ui-tableContext-rowContext {
	/* Gap + half context width (for centering), 0.2 + 0.8/2 */
	left: -0.6em;
}

.ve-ui-tableContext-rowContext .oo-ui-popupWidget {
	top: 0.3em;
}

.ve-ui-tableContext-rowContext .ve-ui-tableContext-indicator {
	width: 0.8em;
	/* Half context width (for centering) */
	margin-left: -0.4em;
	border-right: 0;
}
