/*!
 * VisualEditor UserInterface MobileContext styles.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-mobileContext .ve-ui-linearContextItem-body {
	display: none;
}

.ve-ui-mobileContext-menu {
	border-top: 1px solid #c8ccd1;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-label {
	min-width: auto;
	line-height: 1.225em;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-title {
	padding: 0.625em 1em 0.625em 0.5em;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-description {
	line-height: 3.125em;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions {
	vertical-align: top;
	padding: 0;
	height: 100%;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions .oo-ui-buttonWidget {
	border-left: 1px solid #c8ccd1;
	vertical-align: top;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions .oo-ui-buttonElement-button {
	padding: 1.538em 1.2em;
	vertical-align: top;
	height: 100%;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions .oo-ui-buttonWidget.oo-ui-labelElement .oo-ui-buttonElement-button {
	padding: 0.86em 1.2em;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions .oo-ui-buttonWidget.oo-ui-iconElement .oo-ui-buttonElement-button {
	padding-left: 2.03125em;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions .oo-ui-buttonWidget.oo-ui-iconElement .oo-ui-iconElement-icon {
	left: 0.65em;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions .oo-ui-buttonWidget.oo-ui-iconElement.oo-ui-labelElement .oo-ui-buttonElement-button {
	padding-left: 2.63125em;
}
