<!DOCTYPE html>
<html>
	<!--
	/*!
	 * VisualEditor rebase demo
	 *
	 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
	 */
	-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title><%= docName %> - VisualEditor Rebase Demo</title>

		<!-- oojs-ui-apex -->
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-alerts.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-interactions.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-layout.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-user.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-editing-core.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-editing-advanced.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-editing-styling.css" class="stylesheet-ltr">
		<link rel=stylesheet href="../../lib/oojs-ui/oojs-ui-apex-icons-editing-list.css" class="stylesheet-ltr">

		<link rel=stylesheet href="../../dist/visualEditor-apex.css">

		<!-- visualEditor.desktop.build -->
		<link rel=stylesheet href="../../src/ui/styles/ve.ui.DesktopContext.css">

		<!-- visualEditor.standalone.read -->
		<link rel=stylesheet href="../../src/init/sa/styles/ve.init.sa.css" class="stylesheet-read">

		<!-- visualEditor.standalone.demo -->
		<link rel=stylesheet href="../../demos/ve/demo.css" class="stylesheet-read">

		<!-- visualEditor.desktop.standalone.demo -->
		<link rel=stylesheet href="../../demos/ve/demo.desktop.css" class="stylesheet-read">

		<!-- visualEditor.rebase.build -->
		<link rel=stylesheet href="../../dist/visualEditor-rebase.css" class="stylesheet-read">

	</head>
	<body>
		<div class="ve-pad-logo"></div>
		<div style="clear: both;"></div>
		<div class="ve-demo-editor"></div>

		<!-- jquery -->
		<script src="../../lib/jquery/jquery.js"></script>

		<!-- oojs -->
		<script src="../../lib/oojs/oojs.jquery.js"></script>

		<!-- oojs-ui -->
		<script src="../../lib/oojs-ui/oojs-ui-core.js"></script>
		<script src="../../lib/oojs-ui/oojs-ui-widgets.js"></script>
		<script src="../../lib/oojs-ui/oojs-ui-toolbars.js"></script>
		<script src="../../lib/oojs-ui/oojs-ui-windows.js"></script>

		<!-- jquery.i18n.dist -->
		<script src="../../dist/lib/jquery.i18n.js"></script>

		<!-- jquery.uls.data.dist -->
		<script src="../../dist/lib/jquery.uls.data.js"></script>

		<!-- jquery.client -->
		<script src="../../lib/jquery.client/jquery.client.js"></script>

		<!-- papaparse -->
		<script src="../../lib/papaparse/papaparse.js"></script>

		<!-- oojs-ui-apex -->
		<script src="../../lib/oojs-ui/oojs-ui-apex.js"></script>

		<!-- visualEditor.rebase.build -->
		<script src="../../dist/visualEditor-rebase.js"></script>

		<!-- visualEditor.desktop.standalone.dist -->
		<script src="../../src/init/sa/ve.init.sa.DesktopTarget.js"></script>

		<script>
			ve.docName = <%- JSON.stringify( docName ); %>;
			ve.messagePaths = ["../../dist/i18n/","../../lib/oojs-ui/i18n/"];
		</script>

		<!-- visualEditor.standalone.demo -->
		<script src="../../demos/ve/ve.demo.js"></script>

		<!-- visualEditor.desktop.standalone.demo -->
		<script src="../../demos/ve/demo.desktop.js"></script>

		<script src="../../rebaser/demo.js"></script>

	</body>
</html>
