{
	"rules": {

		"color-hex-case": [ "lower" ],
		"color-hex-length": [ "short" ],
		"color-named": [ "never" ],
		"color-no-invalid-hex": true,

		"font-family-name-quotes": [ "single-unless-keyword" ],
		"font-weight-notation": [ "named-where-possible" ],

		"function-calc-no-unspaced-operator": true,
		"function-comma-newline-after": "never-multi-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": [ "always" ],
		"function-comma-space-before": [ "never" ],
		"function-parentheses-newline-inside": [ "never-multi-line" ],
		"function-parentheses-space-inside": [ "always" ],
		"function-url-quotes": [ "none" ],
		"function-whitespace-after": [ "always" ],

		"value-list-comma-newline-after": [ "never-multi-line" ],
		"value-list-comma-newline-before": [ "always-multi-line" ],
		"value-list-comma-space-after": [ "always-single-line" ],
		"value-list-comma-space-before": [ "never" ],

		"declaration-bang-space-after": [ "never" ],
		"declaration-bang-space-before": [ "always" ],
		"declaration-colon-space-after": [ "always" ],
		"declaration-colon-space-before": [ "never" ],

		"string-no-newline": true,
		"string-quotes": [ "single" ],

		"declaration-block-no-duplicate-properties": [ true, { ignore: [ "consecutive-duplicates" ] } ],
		"declaration-block-no-shorthand-property-overrides": true

	}
}
