.ve-ce-alienBlockNode {
	background-color: rgba(255,255,186,0.3);
	border: rgba(0,0,0,0.3) dashed 1px;
	display: block;
}

.ve-ce-alienInlineNode {
	background-color: rgba(255,255,186,0.3);
	border: rgba(0,0,0,0.3) dashed 1px;
	display: inline;
}

.ve-ce-slug {
	/*display: inline-block;
	margin-right: -1px;
	width: 1px;*/
}

.ve-ce-branchNode p {
	min-height: 1em;
}

.ve-ce-branchNode h1, .ve-ce-branchNode h2, .ve-ce-branchNode h3, .ve-ce-branchNode h4, .ve-ce-branchNode h5, .ve-ce-branchNode h6 {
	min-height: 1em;
}