/*!
 * VisualEditor ContentEditable SectionNode styles.
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* Prevent margin collapse across sections */
.ve-ce-sectionNode:before,
.ve-ce-sectionNode:after {
	content: "\00a0";
	display: block;
	overflow: hidden;
	height: 0;
}

.ve-ce-documentNode .ve-ce-sectionNode {
	opacity: 0.5;
	transition: opacity 250ms ease;
}

.ve-ce-documentNode .ve-ce-sectionNode-active {
	opacity: 1;
}
