/*!
 * VisualEditor ContentEditable ContentBranchNode styles.
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

/*
 * So that we don't need to use &nbsp; when rendering text with multiple consecutive spaces, and
 * that the browser doesn't insert &nbsp; when typing regular spaces, and that we can let the user
 * input actual non-breaking spaces in the text without having to guess if they're really needed.
 */
.ve-ce-contentBranchNode {
	white-space: pre-wrap;
}

/*
 * Undo this hack on focusable nodes
 */
.ve-ce-focusableNode {
	white-space: normal;
}
