/*!
 * VisualEditor ContentEditable CommentNode styles.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ce-commentNode > .ve-ce-focusableNode-invisibleIcon.oo-ui-iconElement {
	/* Support: Blink, Gecko, Webkit */
	/* Specify a valid second value to fix size, see T176636 */
	font-family: monospace, monospace;
	font-size: 0.8125em;
	width: auto;
}

.ve-ce-commentNode.ve-ce-focusableNode-invisible {
	width: auto;
}

.ve-ce-commentNode > .ve-ce-focusableNode-invisibleIcon.oo-ui-iconElement .oo-ui-labelElement-label {
	margin: 0 0.25em;
}
.ve-ce-commentNode > .ve-ce-focusableNode-invisibleIcon.oo-ui-iconElement .oo-ui-iconElement-icon {
	bottom: 0;
}
