/*!
 * VisualEditor ContentEditable attached root node styles.
 *
 * @copyright 2011-2019 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ce-attachedRootNode {
	cursor: default;
}

.ve-ce-surface-enabled .ve-ce-attachedRootNode {
	cursor: text;
}

/*
 * Don't bother with -moz-selection becase Firefox 24 only
 * supports overriding text selection colour, not images
 * (i.e. any focusable nodes)
 */
.ve-ce-attachedRootNode::selection,
.ve-ce-attachedRootNode *::selection {
	background: rgba( 109, 169, 247, 0.5 ); /* #6da9f7 */
}

/*
 * Reset styles applied to ce=true by Chrome (T207426)
 */
.ve-ce-attachedRootNode [ contentEditable='false' ] {
	overflow-wrap: initial;
	-webkit-line-break: initial;
}
