/*!
 * VisualEditor UserInterface LinkContextItem styles.
 *
 * @copyright 2011-2019 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-linkContextItem .ve-ui-linearContextItem-body {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 0.8em;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label {
	margin: 0.7em -1em 0;
	padding: 0.7em 1em 0;
	border-top: 1px solid #eaecf0;
	display: table;
	width: 100%;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label > div {
	display: table-cell;
	width: 1%;
	white-space: nowrap;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label .ve-ui-linkContextItem-label-preview {
	width: 99%;
	position: relative;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label .ve-ui-linkContextItem-label-label .oo-ui-iconWidget {
	margin-top: -2px;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label .ve-ui-linkContextItem-label-label .oo-ui-labelElement-label {
	padding-left: 0.3em;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label .ve-ui-linkContextItem-label-preview .oo-ui-labelElement-label {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #777;
	display: block;
	padding-left: 0.6em;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label .ve-ui-linkContextItem-label-action .oo-ui-buttonElement {
	margin-top: -4px;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label .ve-ui-linkContextItem-label-action .oo-ui-buttonElement-button {
	padding: 0;
	border: 0;
}

.ve-ui-linkContextItem .ve-ui-linkContextItem-label .ve-ui-linkContextItem-label-action .oo-ui-labelElement-label {
	line-height: normal;
}
