/*!
 * VisualEditor UserInterface LanguageContextItem styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-languageContextItem .ve-ui-linearContextItem-body {
	color: #54595d;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
