/*!
 * VisualEditor UserInterface TableLineContextItem styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-tableLineContextItem-actionButton {
	display: block;
	margin-left: 0 !important; /* stylelint-disable-line declaration-no-important */

	&.oo-ui-labelElement.oo-ui-iconElement > .oo-ui-buttonElement-button {
		display: block;
		border: 0.2em solid transparent;
	}
}
