/*!
 * VisualEditor UserInterface AlignableContextItem styles.
 *
 * @copyright 2011-2015 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-alignableContextItem .ve-ui-contextItem-body {
	text-align: center;
}

.ve-ui-alignableContextItem .ve-ui-contextItem-info {
	vertical-align: middle;
}

.ve-ui-alignableContextItem .ve-ui-contextItem-description {
	line-height: 1em;
	padding-top: 0.2em;
}
