/*!
 * VisualEditor UserInterface LinearContextItem styles.
 *
 * @copyright 2011-2020 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-linearContextItem-head {
	min-height: 32px;
	padding: 0.5em;
	display: flex;
	align-items: center;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-head {
	padding: 0.1em 0.5em;
}

.ve-ui-linearContextItem-title {
	padding: 0 0.5em;
	white-space: nowrap;
	flex: 1;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-title {
	font-weight: bold;
}

.ve-ui-linearContextItem-title > .oo-ui-labelWidget {
	margin-left: 0.3em;
	word-wrap: break-word;
	white-space: pre-line;
	vertical-align: middle;
}

.ve-ui-linearContextItem-body {
	max-height: 15em;
	overflow: auto;
}

.ve-ui-linearContextItem + .ve-ui-linearContextItem .ve-ui-linearContextItem-close {
	/* Only show a close button in the first context item */
	display: none;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-body-action-wrapper {
	/* Wrapper to vertically center body-action in a min-heighted container */
	/* We use a wrapper so that body-action itself can main top-alignment of its items */
	border-top: 1px solid #eaecf0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 4.5em;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-body-action {
	display: flex;
	width: 100%;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-empty .ve-ui-linearContextItem-body-action-wrapper {
	display: none;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-body {
	padding: 0.5em 1em;
	flex: 1;
}

.ve-ui-mobileContext .ve-ui-linearContextItem-actions {
	width: auto;
	padding: 0.25em 0.5em;
}

.ve-ui-desktopContext .ve-ui-linearContextItem-body:not( :empty ) {
	padding: 0 1em 1em 1em;
}

.ve-ui-linearContextItem-foot:not( :empty ) {
	border-top: 1px solid #eaecf0;
	padding: 0.25em 1em;
	text-align: right;
}
