/*!
 * VisualEditor UserInterface TableLineContextItem styles.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-tableLineContextItem-actionButton {
	display: block;
}

.ve-ui-tableLineContextItem-actionButton.oo-ui-labelElement.oo-ui-iconElement > .oo-ui-buttonElement-button {
	display: block;
	padding: 0.5em;
}

.ve-ui-tableLineContextItem-actionButton.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon {
	display: inline-block;
	position: static;
	vertical-align: middle;
}

.ve-ui-tableLineContextItem-actionButton.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label {
	margin-left: 0.25em;
	vertical-align: middle;
}
