/*!
 * VisualEditor UserInterface ToolContextItem styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-toolContextItem .ve-ui-linearContextItem-body {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
