/*!
 * VisualEditor UserInterface ProgressDialog styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-progressDialog-row {
	display: table;
	width: 100%;

	&:not( :last-child ) {
		margin-bottom: 1em;
	}

	.oo-ui-fieldLayout {
		display: table-cell;
		padding-bottom: 0.45em;
	}

	.oo-ui-buttonWidget {
		display: table-cell;
		vertical-align: bottom;
		width: 1.9em;
		padding-left: 1em;
	}
}
