/*!
 * VisualEditor ContentEditable CommentAnnotation styles.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ce-commentAnnotation {
	box-shadow: 0 0 0 1px #feb;
	border-radius: 2px;
	padding: 2px;
	margin: -2px;
	background: #feb;
}

.ve-ce-commentAnnotation.ve-ce-annotation-active {
	box-shadow: 0 0 0 1px #fd6;
	background: #fd6;
}
