/*!
 * VisualEditor ContentEditable CommentAnnotation styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ce-commentAnnotation {
	background: fade( #fd6, 50% );
	box-shadow: 0 0 0 1px fade( #fd6, 50% );
	border-radius: 2px;
	padding: 2px;
	margin: -2px;

	&.ve-ce-annotation-active {
		background: #fd6;
		box-shadow: 0 0 0 1px #fd6;
	}
}
