/*!
 * VisualEditor Apex theme widget customizations.
 *
 * @copyright 2011-2015 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.SurfaceWidget */

.ve-ui-surfaceWidget-surface {
	border: 1px solid #ddd;
}

.ve-ui-surfaceWidget-toolbar > .oo-ui-toolbar-bar {
	border: 1px solid #ddd;
	border-radius: 0.25em;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-width: 0;
}

.ve-ui-surfaceWidget > .ve-ui-debugBar {
	border: 1px solid #ddd;
	border-top-width: 0;
}

.ve-ui-surfaceWidget > div:last-child {
	border-radius: 0.25em;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
