/*!
 * VisualEditor UserInterface LanguageSearchWidget/LanguageResultWidget styles.
 *
 * @copyright See AUTHORS.txt
 */

/* ve.ui.LanguageResultWidget */

.ve-ui-languageResultWidget {
	&-otherMatch {
		color: #72777d;
		float: right;
	}

	.oo-ui-labelWidget {
		cursor: inherit;
		padding: 0.5em 0;
	}
}
