/*!
 * VisualEditor UserInterface SurfaceWidget styles.
 *
 * @copyright 2011-2015 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-surfaceWidget-surface .ve-ce-documentNode {
	padding: 1.875em; /* 1.5/0.8 */
}

.ve-ui-surfaceWidget-toolbar {
	font-size: 1.25em;
}

.ve-ui-surfaceWidget > .ve-ui-debugBar {
	margin: 0;
}
