/*!
 * VisualEditor UserInterface DimensionsWidget styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-dimensionsWidget {
	&,
	> .oo-ui-textInputWidget {
		display: inline-block;
	}

	.oo-ui-textInputWidget {
		max-width: 4em;
	}

	.oo-ui-labelWidget {
		line-height: 2.35em;
		vertical-align: middle;

		&:not( :last-child ) {
			margin-right: 0.5em;
		}
	}
}
