/*!
 * VisualEditor UserInterface ContextItemWidget styles.
 *
 * @copyright 2011-2014 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-contextItemWidget {
	padding: 0.5em 1em 0.5em 3em;
}

.ve-ui-contextItemWidget .oo-ui-labelElement-label {
	color: #666;
	/* Size required to match menu and inspector widths */
	max-width: 19.4em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ve-ui-contextItemWidget .oo-ui-iconElement-icon {
	opacity: 0.8;
}

.ve-ui-contextItemWidget.oo-ui-optionWidget-highlighted,
.ve-ui-contextItemWidget.oo-ui-optionWidget-selected,
.ve-ui-contextItemWidget.oo-ui-optionWidget-pressed {
	background-color: transparent;
}

.ve-ui-contextItemWidget.oo-ui-optionWidget-highlighted .oo-ui-iconElement-icon {
	opacity: 1;
}

.ve-ui-contextItemWidget .ve-ui-contextItemWidget-label-secondary {
	display: none;
}
