/*!
 * VisualEditor UserInterface MediaSizeWidget styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-mediaSizeWidget .oo-ui-fieldLayout > .oo-ui-fieldLayout-body > .oo-ui-labelElement-label {
	width: 6em;
}

.ve-ui-mediaSizeWidget-section-scale .oo-ui-fieldLayout-field > .oo-ui-textInputWidget input {
	width: 5em;
	margin-right: 0.5em;
}
