/*!
 * VisualEditor AuthorInterface AuthorItemWidget styles.
 *
 * @copyright See AUTHORS.txt
 */

.ve-ui-authorItemWidget {
	position: relative;
	margin: 0.2em 0;
	padding-left: 2.5em;
	line-height: 2em;

	&-color {
		position: absolute;
		width: 2em;
		height: 2em;
		left: 0;

		.ve-ui-authorItemWidget-editable & {
			cursor: pointer;
			outline: 1px solid #ccc;
			outline-offset: 1px;
			top: 2px; /* outline + outline-offset */
		}
	}

	&-colorPicker {
		margin-top: 3em;

		/* stylelint-disable-next-line selector-class-pattern */
		.color-picker-control {
			border-color: #ccc;
			padding: 3px;
			background: #fff;
		}
	}
}
