/*!
 * VisualEditor AuthorInterface AuthorListWidget styles.
 *
 * @copyright 2011-2017 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-authorListWidget {
	margin-right: 1em;
}

.ve-ui-authorListWidget-editName {
	width: 20em;
}

.ve-ui-authorListWidget-editName,
.ve-ui-authorListWidget-listPopup {
	margin-right: 1em;
	display: inline-block;
	vertical-align: top;
}

.ve-ui-authorListWidget-author {
	pointer-events: none;
}

.ve-ui-authorListWidget-author.oo-ui-iconElement .oo-ui-iconElement-icon {
	top: 0.3em;
	height: 1.875em;
}

.ve-ui-authorListWidget-author-self .oo-ui-labelElement-label {
	font-weight: bold;
}
