/*!
 * VisualEditor UserInterface LanguageSearchWidget/LanguageResultWidget styles.
 *
 * @copyright 2011-2017 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.LanguageResultWidget */

.ve-ui-languageResultWidget-otherMatch {
	float: right;
	color: #777;
}

.ve-ui-languageResultWidget .oo-ui-labelWidget {
	cursor: inherit;
	padding: 0.5em 0;
}
