/*!
 * VisualEditor UserInterface CompletionWidget styles.
 *
 * @copyright 2011-2019 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-completionWidget {
	position: absolute;
	margin-top: 0.5em;
}

.ve-ui-completionWidget .oo-ui-menuSelectWidget {
	position: static;
	border: 0;
	box-shadow: none;
}

.ve-ui-completionWidget .oo-ui-popupWidget-body {
	/* The contained MenuSelectWidget is already clipped (T330401) */
	/* TODO: This could be done in JS if OO.ui.ClippableElement provided a way to disable clipping */
	overflow: hidden !important; /* stylelint-disable-line declaration-no-important */
}

.ve-ui-completionWidget .oo-ui-textInputWidget {
	min-width: 15em;
	margin-bottom: -1px;
}
