/*!
 * VisualEditor UserInterface DimensionsWidget styles.
 *
 * @copyright 2011-2020 VisualEditor Team and others; see http://ve.mit-license.org
 */

.ve-ui-dimensionsWidget,
.ve-ui-dimensionsWidget > .oo-ui-textInputWidget {
	display: inline-block;
}

.ve-ui-dimensionsWidget .oo-ui-textInputWidget {
	max-width: 4em;
}

.ve-ui-dimensionsWidget .oo-ui-labelWidget {
	line-height: 2.35em;
	vertical-align: middle;
}

.ve-ui-dimensionsWidget .oo-ui-labelWidget:not( :last-child ) {
	margin-right: 0.5em;
}
