/*!
 * VisualEditor WikimediaUI theme dialog customizations.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.ToolbarDialog */

.ve-ui-toolbarDialog .oo-ui-dialog-content > .oo-ui-window-body {
	outline: 0;
}

/* Temporary workaround for T190694 */
.ve-ui-toolbar.oo-ui-toolbar-narrow .oo-ui-popupToolGroup .oo-ui-tool-link {
	padding-left: 2.5em;
	padding-right: 0.71428571em;
}
