/*!
 * VisualEditor WikimediaUI theme customizations.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.TargetWidget */

.ve-ui-targetWidget {
	border: 1px solid #ccc;
}

.ve-ui-targetWidget > :last-child {
	border-bottom: 0;
}

/* Context item */

.ve-ui-linearContextItem-body {
	min-height: 0.2em;
}

/* Format tools */

/*
 * TODO: Consider upstreaming this to OOUI, as menuToolGroups
 * aren't designed to have icons.
 */

.ve-test-toolbar-format .oo-ui-tool-link {
	/* These tools have no icons, so balance out the padding */
	padding-left: 0.85714286em;
}

.oo-ui-toolbar-narrow .ve-test-toolbar-format .oo-ui-tool-link {
	padding-left: 0.71428571em;
}

/* ve.ui.ToolbarDialog */

.ve-ui-toolbarDialog .oo-ui-dialog-content > .oo-ui-window-body {
	outline: 0;
}
