.es-toolbar-wrapper {
	margin: -1.25em -1.5em -1.5em -1.5em;
}

.es-toolbar {
	margin-left: 1px;
}

.ve-init-viewPageTarget-pageTitle {
	-webkit-transition: opacity 200ms ease-out, margin-top 200ms ease-out;
	-moz-transition: opacity 200ms ease-out, margin-top 200ms ease-out;
	-o-transition: opacity 200ms ease-out, margin-top 200ms ease-out;
	transition: opacity 200ms ease-out, margin-top 200ms ease-out;
}

.ve-init-viewPageTarget-loadingSpinner {
	background-image: url(images/loading.gif);
	width: 128px;
	height: 15px;
	float: right;
}

.ve-init-viewPageTarget-button {
	display: inline-block;
	border: solid 1px 
	transparent;
	border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	-o-border-radius: 0.125em;
	cursor: pointer;
	vertical-align: top;
	padding: 0.25em;
	height: 22px;
	margin-right: 0.25em;
	border: solid 1px transparent;
}

.ve-init-viewPageTarget-button:before {
	content: " ";
	position: absolute;
	display: block;
	height: 22px;
}

.ve-init-viewPageTarget-button:hover {
	border-color: #eeeeee;
}

.ve-init-viewPageTarget-button:active,
.ve-init-viewPageTarget-button-down {
	border-color: #dddddd;
	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
}

.ve-init-viewPageTarget-button-disabled {
	opacity: 0.5;
	-moz-opacity: 0.5;
}

/* inspector styles */
.ve-init-viewPageTarget-saveButton {
	border: 1px solid transparent;
	border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	-o-border-radius: 0.125em;
}

.ve-init-viewPageTarget-saveButton-icon {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	/* @embed */
	background-image: url(../../ui/styles/images/accept.png);
	background-position: right top;
	background-repeat: no-repeat;
}

.ve-init-viewPageTarget-saveButton-label {
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	padding-left: 4px;
	font-size: 0.8em;
}

/* mini save button */
.ve-init-viewPageTarget-saveDialog-closeButton {
	right: .025em;
	width: 22px;
	background-image: url(../../ui/styles/images/close.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.ve-init-viewPageTarget-saveDialog-saveButton {
	position: absolute;
	border: 1px solid rgb(196,229,154);
	margin-top: 10px;
	right: 10px;
	font-size: 1em;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	background-image: url(../../ui/styles/images/close.png);
	background-position: center right;
	background-repeat: no-repeat;
	/* Fancy CSS background */
	background-image: linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -o-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(195,229,154)),
		color-stop(1, rgb(240,251,225))
	);
}

.ve-init-viewPageTarget-saveDialog-saveButton-icon {
	display: inline-block;
	vertical-align: middle;
	height: 2em;
	width: 28px;
	background: transparent;
	background-image: url(../../ui/styles/images/accept-clear.png);
	background-position: right top;
	background-repeat: no-repeat;
}

/* Save dialog styles */

.ve-init-viewPageTarget-saveDialog {
	display: block;
	top: 0.25em;
	right: 0.5em;
	width: 29em;
}

.ve-init-viewPageTarget-saveDialog-body {
	border-top:1px solid #dddddd;
	padding: 10px 0;
	font-size: 12px;
}

.ve-init-viewPageTarget-saveDialog-license {
	font-size: 0.7em;
	color: #999999;
}

.ve-init-viewPageTarget-saveDialog-options {
	float: left;	
}

.ve-init-viewPageTarget-saveDialog input[type='text'] {
	width: 96%;
	font-size: 12px;
	padding: 4px;
	margin: 10px 0;
}

.ve-init-viewPageTarget-saveDialog input[type='checkbox'] {
	margin-right: 5px;
}
