/*!
 * VisualEditor standalone demo
 *
 * @copyright 2011-2020 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* Demo */

.ve-demo-dir-ltr .ve-demo-logo {
	margin-right: 2.1em;
}

/* Hack: should generate demo.rtl.css */
.ve-demo-dir-rtl .ve-demo-logo {
	margin-left: 2.1em;
}

.ve-demo-targetToolbar {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.ve-demo-surfaceToolbar-edit {
	padding-left: 0;
	padding-right: 0;
}

.ve-demo-editor {
	margin: 0 2.5em 2.5em 2.5em;
}

.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
	margin: 0 1px;
}
