/*!
 * VisualEditor standalone demo
 *
 * @copyright 2011-2016 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* Demo */

.ve-demo-logo {
	padding-right: 2.1em;
}

.ve-demo-targetToolbar {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.ve-demo-surfaceToolbar-edit {
	padding-left: 0;
	padding-right: 0;
}

.ve-demo-editor {
	margin: 0 2.5em 2.5em 2.5em;
}

.ve-demo-read {
	border: 1px solid #ccc;
	box-shadow: 0 0.25em 1.5em 0 #ddd;
}

/* Editor */

.ve-init-sa-target-surfaceWrapper {
	border: 1px solid #ccc;
	border-radius: 0.25em;
	box-shadow: 0 0.25em 1.5em 0 #ddd;
}

.ve-init-sa-target-surfaceWrapper > .ve-ui-debugBar {
	border-top: 1px solid #ccc;
}
