/*!
 * VisualEditor mobile demo
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* Demo */

.ve-demo-logo {
	padding-right: 1.1em;
}

.ve-demo-surfaceToolbar-read {
	padding-left: 1.5em;
}

.ve-demo-surfaceWrapper,
.ve-demo-read {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
