/*!
 * VisualEditor standalone demo
 *
 * @copyright 2011-2020 VisualEditor Team and others; see http://ve.mit-license.org
 */

body {
	font: normal 0.875em/1.5 sans-serif;
}

.ve-init-sa-target-toolbar > .oo-ui-toolbar-bar {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
