/*!
 * VisualEditor minimal demo
 *
 * @copyright See AUTHORS.txt
 */

body {
	font: normal 0.875em/1.5 sans-serif;
}

.ve-instance {
	margin: 1em;
	border: 1px solid #ccc;
}

.ve-ui-surface-placeholder,
.ve-ui-surface .ve-ce-attachedRootNode {
	padding: 0.5em 1.5em;
}

.ve-demo-output {
	margin: 1em;
}

.ve-demo-html {
	margin-top: 1em;
	max-width: none;
	font-family: monospace, monospace; /* Support: Blink, Gecko, Webkit, see T176636 */
}
