/*!
 * VisualEditor standalone demo
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* Demo */

.ve-demo-logo {
	padding-right: 2.1em;
}

.ve-demo-targetToolbar {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.ve-demo-surfaceToolbar-edit {
	padding-left: 0;
	padding-right: 0;
}

.ve-demo-editor {
	margin: 0 2.5em 2.5em 2.5em;
}

.ve-demo-surfaceWrapper {
	overflow: hidden;
}

.ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
	margin: 0 1px;
}
