body {
	font-family: "Arial";
	font-size: 1em;
	width: 100%;
	margin: 1em 0;
	padding: 0;
	overflow-y: scroll;
	-webkit-user-select: none;
	background-color: white;
}
#es-base {
	margin: 2em;
	-webkit-box-shadow: 0 0.25em 1.5em 0 #dddddd;
	-moz-box-shadow: 0 0.25em 1.5em 0 #dddddd;
	box-shadow: 0 0.25em 1.5em 0 #dddddd;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	border-radius: 0.5em;
}
#es-toolbar,
#es-panes {
	border: solid 1px #dddddd;
}
#es-toolbar {
	border-bottom: none;
	-webkit-border-top-right-radius: 0.25em;
	-moz-border-top-right-radius: 0.25em;
	-o-border-top-right-radius: 0.25em;
	border-top-right-radius: 0.25em;
	-webkit-border-top-left-radius: 0.25em;
	-moz-border-top-left-radius: 0.25em;
	-o-border-top-left-radius: 0.25em;
	border-top-left-radius: 0.25em;
	background-image: url(images/fade-up.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}
#es-toolbar.float {
	position: fixed;
	left: 2em;
	right: 2em;
	top: 0;
	z-index: 100;
	border-top: none;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-o-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-o-border-top-left-radius: 0;
	border-top-left-radius: 0;
}
#es-toolbar-shadow {
	background-image: url(images/toolbar-shadow.png);
	background-position: top left;
	background-repeat: repeat-x;
	position: absolute;
	bottom: -8px;
	height: 8px;
	width: 100%;
	display: none;
}
#es-toolbar.float #es-toolbar-shadow {
	display: block;
}
.es-showData #es-visual,
.es-showData #es-previews {
	width: 50%;
	float: left;
	overflow: hidden;
}
.es-showData #es-editor {
	border-right: solid 1px #dddddd;
}
.es-toolbarGroup {
	float: left;
	padding: 0.25em;
}
.es-toolbarGroup-preview {
	float: right;
}
.es-toolbarDivider {
	float: left;
	width: 1px;
	height: 24px;
	margin: 0.5em 0 0.5em 0.5em;
	background-color: #dddddd;
}
.es-toolbarLabel {
	float: left;
	padding: 0.5em 0.75em;
	line-height: 22px;
	font-size: 0.8em;
	color: #555555;
}
.es-toolbarTool {
	float: left;
	padding: 0.25em;
	border: solid 1px transparent;
	border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	-o-border-radius: 0.125em;
	cursor: pointer;
}
.es-toolbarTool:hover,
.es-toolbarTool-down:hover {
	border-color: #eeeeee;
}
.es-toolbarTool:active,
.es-toolbarTool-down {
	border-color: #dddddd;
	background-image: url(images/fade-down.png);
	background-position: top left;
	background-repeat: repeat-x;
}
.es-toolbarTool img {
	display: block;
	width: 22px;
	height: 22px;
}
#es-previews {
	display: none;
}
.es-showData #es-previews {
	display: block;
}
.es-preview {
	margin: 0;
	padding: 1em;
}
.es-code {
	white-space: pre-wrap;
	font-family: "Droid Sans Mono", "Courier New", monospace;
	font-size: 0.8em;
}
.es-render {
	line-height: 1.5em;
	padding-top: 0;
}

/* General MediaWiki Styles */

.es-render ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-image: url(images/bullet-icon.png);
}
.es-render ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
.es-render li {
	margin-bottom: .1em;
}
