#ve-loader-spinner {
	background-color: #FFF;
	opacity:.5;
}
.ve-action-button {
	display: inline-block;
	border: solid 1px 
	transparent;
	border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	-o-border-radius: 0.125em;
	cursor: pointer;
	vertical-align: top;
	padding: 0.25em;
	height: 22px;
	margin-right: 0.125em;
	border: solid 1px transparent;
}
.ve-action-button:before {
	content: " ";
	position: absolute;
	display: block;
	height: 22px;
}
.ve-action-button:hover {
	border-color: #eeeeee;
}
.ve-action-button:active,
.ve-action-button-down {
	border-color: #dddddd;
	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
}

/* Save dialog styles */
#ve-saveDialog {
	top: 0px;
	right: 2.5em;
	width: 35em;
}

#ve-saveDialog > .ve-dialog-divider {
	border-top:1px solid #dddddd;
	padding: 10px 0;
	font-size: 12px;
}

#ve-saveDialog br {
	clear: both;
}

#ve-saveDialog > .ve-dialog-divider > .ve-dialog-left {
	float: left;	
}

#ve-saveDialog > .ve-dialog-divider > input[type='text'] {
	width: 96%;
	font-size: 12px;
	padding: 4px;
	margin-bottom: 10px;
}

#ve-saveDialog > .ve-dialog-divider > input[type='checkbox'] {
	margin-right: 5px;
}

.ve-closeBtn {
	width: 22px;
	background-image: url(../ve2/ui/styles/images/close.png);
	background-position: center center;
	background-repeat: no-repeat;
}
/* mini save button */
.ve-saveBtn {
	right: .025em;
	width: 22px;
	background-image: url(../ve2/ui/styles/images/close.png);
	background-position: center center;
	background-repeat: no-repeat;
}
/* inspector styles */
.es-inspector-savebutton {
	padding-right: 24px;
	border:1px solid transparent;
	border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	-o-border-radius: 0.125em;
	/* need new button */
	/* @embed */
	background-image: url(../ve2/ui/styles/images/save.png);
	background-position: center right;
	background-repeat: no-repeat;
}
.doSaveBtn {
	position: absolute;
	border: 1px solid rgb(196,229,154);
	margin-top: 10px;
	right: 10px;
	font-size: 12px;
	padding: 5px 10px;
	background-image: url(../ve2/ui/styles/images/close.png);
	background-position: center right;
	background-repeat: no-repeat;
	/* Fancy CSS background */
	background-image: linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -o-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(195,229,154) 0%, rgb(240,251,225) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(195,229,154)),
		color-stop(1, rgb(240,251,225))
	);
}
.doSaveBtn > div.doSaveBtnIcon {
	height:2em;
	width:2em;
	float:right;
	background: transparent;
	background-image: url(../ve2/ui/styles/images/accept.png);
	background-position: center right;
	background-repeat: no-repeat;
}