.es-toolbarGroup {
	display: inline-block;
	padding: 0.25em;
}
.es-toolbarDivider {
	display: inline-block;
	width: 1px;
	height: 24px;
	margin: 0.5em 0 0.5em 0.5em;
	background-color: #dddddd;
}
.es-toolbarLabel {
	display: inline-block;
	padding: 0.5em 0.75em;
	line-height: 22px;
	font-size: 0.8em;
	color: #555555;
	vertical-align: top;
}
.es-toolbarButtonTool,
.es-toolbarDropdownTool {
	display: inline-block;
	padding: 0.25em;
	border: solid 1px transparent;
	border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	-moz-border-radius: 0.125em;
	-o-border-radius: 0.125em;
	cursor: pointer;
}
.es-toolbarButtonTool {
	width: 22px;
	height: 22px;
}
.es-toolbarButtonTool:before {
	content: " ";
	position: absolute;
	display: block;
	height: 22px;
	width: 22px;
}
.es-toolbarButtonTool:hover,
.es-toolbarDropdownTool:hover {
	border-color: #eeeeee;
}
.es-toolbarButtonTool:active,
.es-toolbarButtonTool-down {
	border-color: #dddddd;
	background-image: url(../images/fade-down.png);
	background-position: top left;
	background-repeat: repeat-x;
}
.es-toolbarButtonTool-bold:before {
	background-image: url(../images/bold.png);
}
.es-toolbarButtonTool-italic:before {
	background-image: url(../images/italic.png);
}
.es-toolbarButtonTool-clear:before {
	background-image: url(../images/clear.png);
}
.es-toolbarDropdownTool {
}
.es-toolbarDropdownTool-formatting {
}