.ve-ce-documentNode {
	cursor: text;
	margin-top: 1em;
	overflow: hidden;
	/*-webkit-user-select: none;*/
}

/* Prevent focus outline on editor */
[contenteditable="true"] {
	outline: none;
}

/* Flat-list styles */

.ve-ce-listNode {
	margin: 0 0 1em 0;
}

.ve-ce-listItemNode {
	position: relative;
}

.ve-ce-listItemNode > .ve-ce-paragraphNode {
	margin-left: 0;
	margin-right: 0;
}
.ve-ce-listItemNode > .ve-ce-viewBranchNode-firstChild {
	margin: 0;
}

.ve-ce-listItemNode-bullet {
	padding-left: 1.2em;
}

.ve-ce-listItemNode-number {
	padding-left: 3.2em;
}

.ve-ce-listItemNode-icon {
	position: absolute;
	right: 100%;
	height: 1.5em;
	line-height: 1.5em;
}

.ve-ce-listItemNode-bullet .ve-ce-listItemNode-icon {
	background-image: url(images/bullet-icon.png);
	background-position: left 0.6em;
	background-repeat: no-repeat;
	width: 5px;
	margin-right: -0.5em;
}

.ve-ce-listItemNode-number .ve-ce-listItemNode-icon {
	margin-right: -2.8em;
}

.ve-ce-listItemNode-term {
	font-weight: bold;
}

.ve-ce-listItemNode-definition .ve-ce-contentNode {
	margin-left: 2em;
}

.ve-ce-listItemNode-level0 {
	margin-left: 0;
}

.ve-ce-listItemNode-level1 {
	margin-left: 2em;
}

.ve-ce-listItemNode-level2 {
	margin-left: 4em;
}

.ve-ce-listItemNode-level3 {
	margin-left: 6em;
}

.ve-ce-listItemNode-level4 {
	margin-left: 8em;
}

.ve-ce-listItemNode-level5 {
	margin-left: 10em;
}

.ve-ce-listItemNode-level6 {
	margin-left: 12em;
}

.ve-ce-listItemNode-level1.ve-ce-listItemNode-number {
	margin-left: 4em;
}

.ve-ce-listItemNode-level2.ve-ce-listItemNode-number {
	margin-left: 8em;
}

.ve-ce-listItemNode-level3.ve-ce-listItemNode-number {
	margin-left: 12em;
}

.ve-ce-listItemNode-level4.ve-ce-listItemNode-number {
	margin-left: 16em;
}

.ve-ce-listItemNode-level5.ve-ce-listItemNode-number {
	margin-left: 18em;
}

.ve-ce-listItemNode-level6.ve-ce-listItemNode-number {
	margin-left: 22em;
}
