/*
 * This is a sample configuration file.
 *
 * Copy this file to localsettings.js.
 * Edit that file and change the URL below to your needs.
 *
 * See also the file ParserService.js for more information.
 */

exports.setup = function( config, env ) {
	config.defaultInterwiki = 'localhost';
	env.setInterwiki( 'localhost', 'http://localhost/mediawiki' );
};
