.ve-ui-inspector-clearButton {
	/* @embed */
	background-image: url(images/icons/clear.svg);
}

.ve-ui-linkInspector-location {
	/* @embed */
	background-image: url(images/icons/down.svg);
}

.ve-ui-inspector-closeButton {
	/* @embed */
	background-image: url(images/icons/close.svg);
}

.ve-ui-inspector-acceptButton {
	/* @embed */
	background-image: url(images/icons/accept.svg);
}
